# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.tmp
*.out
*.pid

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp

# Generated K6 test files
generated-test.js

# Swagger spec (keep private if sensitive)
swagger.json

tests/*